<div id="columns_narrow_wide">
  <div id="col_left">
    <%= render :partial => "menu" %>
  </div>
  <div id="col_right" >
    <div class="rounded">
      <%=  t(:no_new_friends)%>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>