<h1><%= t :title%></h1>

<%= render :partial => 'form', :locals => { :action => 'update', :message => @message } %>

<%= link_to tg(:show), admin_news_path(@message) %> |
<%= link_to tg(:back), admin_news_index_path %>
