<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= tg(:app_title) %></title>
  </head>
  <body>

    <p>Hello Wizard, <%= @name %></p>

    <p>You tried to make a payment on 7wizards.com. Transaction was not successful, please check your payment details and try again.</p>

  </body>
</html>