<ul class="confirm_dialog">
  <li><%= t :description, :max => GameProperties::AVATAR_VOTING_PER_DAY_MAX %></li>
  <li><%= link_to tg(:ok), "javascript:void(0)", :onclick => "dialog.close()" %></li>
</ul>

